@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/sass/utilities/initial-variables";

@import "./_utilities";

@import "../node_modules/bulma/bulma";

//GENERAL
body {
  max-width: 100vw;
  margin: 0;
  overflow: hidden;
}

//Oblaci
.oblaci__donji {
  height: 50vw;
  margin-top: -175px;
  position: relative;

  @include for-phone-only {
    margin-top: -5px;
  }
}

.oblaci__srednji {
  position: relative;
}

#head__oblak {
  &1, &1a, &2, &2a, &3, &3a, &4, &4a, &5, &6, &7, &8, &9, &10, &11, &12 {
    position: absolute;
  }

  @keyframes oblak1a {
    0%   {left: 47vw;}
    100% {left: 100vw;}
  }
  &1a {
    left: 47vw;
    top: 10%;
    width: 44.5vw;
    animation: oblak1a 12s linear forwards;
  }
  @keyframes oblak1 {
    0%   {left: -44.5vw;}
    100% {left: 100vw;}
  }
  &1 {
    left: -44.5vw;
    top: 10%;
    width: 44.5vw;
    animation: oblak1 45s linear 5s infinite;
  }
  @keyframes oblak2a {
    0%   {left: 20vw;}
    100% {left: 100vw;}
  }
  &2a {
    left: 20vw;
    top: 4%;
    width: 42.4vw;
    animation: oblak2a 25s linear forwards;
  }
  @keyframes oblak2 {
    0%   {left: -42.4vw;}
    100% {left: 100vw;}
  }
  &2 {
    left: -42.4vw;
    top: 4%;
    width: 42.4vw;
    animation: oblak2 40s linear 30s infinite;
  }
  @keyframes oblak3a {
    0%   {left: 5vw;}
    100% {left: 100vw;}
  }
  &3a {
    left: 5vw;
    top: 25%;
    width: 32vw;
    animation: oblak3a 30s linear forwards;
  }
  @keyframes oblak3 {
    0%   {left: -32vw;}
    100% {left: 100vw;}
  }
  &3 {
    left: -32vw;
    top: 25%;
    width: 32vw;
    animation: oblak3 35s linear 20s infinite;
  }

  // Srednji
  @keyframes oblak4a {
    0%   {left: 30vw;}
    100% {left: 100vw;}
  }
  &4a {
    // left: 30vw;
    top: -50%;
    width: 65vw;
    z-index: 1;
    animation: oblak4a 25s linear forwards;
  }

  @keyframes oblak4 {
    0%   {left: -65vw;}
    100% {left: 100vw;}
  }
  &4 {
    left: -65vw;
    top: -50%;
    width: 65vw;
    z-index: 1;
    animation: oblak4 50s linear 25s infinite;
  }

  @keyframes oblak5 {
    0%   {left: -40vw;}
    100% {left: 100vw;}
  }
  &5 {
    // left: 5vw;
    left: -40vw;
    top: -15%;
    width: 40vw;
    z-index: 1;
    animation: oblak5 48s linear 10s infinite;
  }

  @keyframes oblak6 {
    0%   {left: -30vw;}
    100% {left: 100vw;}
  }
  &6 {
    // left: 25vw;
    left: -30vw;
    top: 6%;
    width: 30vw;
    z-index: 1;
    animation: oblak6 44s linear 20s infinite;
  }

  @keyframes oblak7 {
    0%   {left: -37vw;}
    100% {left: 100vw;}
  }
  &7 {
    // left: 40vw;
    left: -37vw;
    top: 10%;
    width: 37vw;
    z-index: 1;
    animation: oblak7 40s linear infinite;
  }

  @keyframes oblak8 {
    0%   {left: -25vw;}
    100% {left: 100vw;}
  }
  &8 {
    // left: 15vw;
    left: -25vw;
    top: 30%;
    width: 25vw;
    z-index: 1;
    animation: oblak8 35s linear 27s infinite;
  }

  @keyframes oblak9 {
    0%   {left: -65vw;}
    100% {left: 100vw;}
  }
  &9 {
    // left: 50vw;
    left: -65vw;
    top: 40%;
    width: 65vw;
    z-index: 1;
    animation: oblak9 42s linear 10s infinite;
  }

  // Donji
  @keyframes oblak10 {
    0%   {left: -32vw;}
    100% {left: 100vw;}
  }
  &10 {
    // left: 30vw;
    top: 0;
    width: 32vw;
    z-index: -1;
    animation: oblak10 40s linear infinite;
  }

  @keyframes oblak11 {
    0%   {left: -42vw;}
    100% {left: 100vw;}
  }
  &11 {
    left: -42vw;
    top: 30%;
    width: 42vw;
    animation: oblak11 45s linear 30s infinite;
  }

  @keyframes oblak12 {
    0%   {left: -69vw;}
    100% {left: 100vw;}
  }
  &12 {
    // left: 5vw;
    left: -69vw;
    top: 20%;
    width: 69vw;
    animation: oblak12 50s linear 10s infinite;
  }
}

// Zvijezde
.stars__wrapper, .stars__wrapper_2 {
  height: 100%;
  position: absolute;
  width: 100%;
}

.star {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.hero {
  width: 100%;
  padding: 0;
  position: relative;

  &::after {
    background: url(../assets/images/header-fix-position.png) no-repeat bottom;
    background-size: cover;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 115%;
    z-index: -1;
  }
}

.hero.is-large .header__clouds {
  z-index: 2;

  h1, h2 , h3 {
    margin-left: auto;
    margin-right: auto;
    max-width: 75vw;
  }
  
  @media screen and (min-width: 1366px) and (max-width: 2560px) and (-webkit-min-device-pixel-ratio: 1)  {
    padding: 70vh 0 0 0;
  }

  @media screen and (min-width: 1025px) and (max-width: 1365px) and (-webkit-min-device-pixel-ratio: 1)  {
    padding: 60vh 0 0 0;
  }

  /* Tablet Portrait */
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    padding: 40vh 0 0 0;
  }

  /* Tablet Landscape */
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    padding: 40vh 0 0 0;
  }

  @media (max-width: 767px) {
    padding: 30vh 0 0 0;
  }
}

h1 {
  font-family: $family-primary;
  color: white;
  // text-transform: uppercase;

  @media screen and (min-width: 1366px) and (max-width: 2560px) {
    font-size: 102px;
    line-height: 102px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1365px) {
    font-size: 66px;
    line-height: 70px;
  }

  /* Tablet Portrait */
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    font-size: 42px;
    line-height: 65px;
  }

  /* Tablet Landscape */
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    font-size: 52px;
    line-height: 65px;
  }

  @media (max-width: 767px) {
    font-size: 37px;
    line-height: 40px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
}

h2 {
  font-family: $family-primary;
  color: white;
  // text-transform: uppercase;
  
  @media screen and (min-width: 1366px) and (max-width: 2560px) {
    font-size: 62px;
    line-height: 70px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1365px) {
    font-size: 40px;
    line-height: 50px;
  }

  /* Tablet Portrait */
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    font-size: 37px;
  }

  /* Tablet Landscape */
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    font-size: 53px;
  }

  @media (max-width: 767px) {
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
}

h3 {
  font-family: $family-primary;
  color: white;
  // text-transform: uppercase;
  
  @media screen and (min-width: 1366px) and (max-width: 2560px) {
    font-size: 62px;
    line-height: 70px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1365px) {
    font-size: 40px;
    line-height: 50px;
    margin-top: 50px;
  }

  /* Tablet Portrait */
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    font-size: 27px;
    line-height: 19px;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  /* Tablet Landscape */
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    font-size: 32px;
    line-height: 28px;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
}

.video__wrapper {
  background-color: $dark-navy;
  position: relative;
  top: 20%;
  z-index: -2;
}

.oblaci__srednji {
  margin-top: -50px;
  position: relative;
}

.section {
  padding: 0;
  background-color: $dark-navy;
}

p {
  background-color: $dark-navy;
  font-family: $family-third;
  font-weight: 500;
  color: white;
  margin: auto;

  @media screen and (min-width: 1366px) and (max-width: 2560px) {
    font-size: 30px;
    line-height: 50px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 70px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1365px) {
    font-size: 22px;
    line-height: 40px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 70px;
  }

  /* Tablet Landscape */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 18px;
    line-height: 30px;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 50px;
  }

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 28px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

  }
}

span {
  @media screen and (min-device-width: 1200px) and (max-device-width: 2560px) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 50px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1365px) {
    font-size: 24px;
  }

  @media (max-width: 767px) {
    font-size: 16px;
    font-weight: 700;
  }
}

h4 {
  background-color: $dark-navy;
  font-family: $family-third;
  font-weight: 700;
  color: white;
  margin: auto;

  @media screen and (min-width: 1366px) and (max-width: 2560px) {
    font-size: 50px;
    line-height: 50px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 60px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1365px) {
    font-size: 40px;
    line-height: 50px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 60px;
    padding-bottom: 10px;
  }

  /* Tablet Landscape */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 32px;
    line-height: 40px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 40px;
  }

  @media (max-width: 767px) {
    font-size: 26px;
    line-height: 36px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.button {
  height: 54px;
  width: 250px;
  display: block;
  font-family: $family-secondary;
  font-weight: bold;
  line-height: 52px;
  border-color: none;
  border-radius: 26px;
  color: $dark-navy;
  background-color: white;
  padding: 0;
  text-transform: uppercase;
  margin: 50px auto;

  &:hover {
    color: $clear-blue;
  }
  
  &:active, &:focus, &:focus:not(:active) {
    color: $dark-navy;
    border-color: none;
    box-shadow: none;
  }

  &--inverse {
    color: white;
    background-color: $light-navy;

    &:hover {
      color: white;
      border-color: none;
      background-color: lighten($color: $light-navy, $amount: 10);
    }

    &:active, &:focus, &:focus:not(:active) {
      color: white;
      border-color: none;
      box-shadow: none;
    }
  }


  @media screen and (min-device-width: 1200px) and (max-device-width: 2560px) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 16px;
    margin: 50px auto;
  }

  /* Tablet Landscape */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    margin: 50px auto;
    font-size: 16px;
  }

  @media (max-width: 767px) {
    height: 34px;
    width: 150px;
    font-size: 12px;
    margin: 30px auto;
    padding-bottom: 50px;
  }
}

.text-block {
  padding: 0 25px 40vw 25px;

  p {
    line-height: 2;
  }
}

// Anketa
.form__background {
  background: url('../assets/images/anketa_bg1.jpg') no-repeat -15% 15% / 65%,
              url('../assets/images/anketa_bg2.jpg') no-repeat 160% 55% / 65%,
              url('../assets/images/anketa_bg3.jpg') no-repeat -25% 98% / 45%,
  ;
}

#jysk-anketa {
  max-width: 1200px;

  @media screen and (min-width: 1366px) and (max-width: 2560px) {
    max-width: 960px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1365px) {
    max-width: 536px;
  }

  /* Tablet Portrait */
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    max-width: 536px;
  }

  /* Tablet Landscape */
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    max-width: 536px;
  }

  @media (max-width: 767px) {
    max-width: 75%;
  }
}

//FORM
.form__title {
  color: $dark-navy;
  font-family: $family-primary;
  text-transform: none;

  @media screen and (min-device-width: 1200px) and (max-device-width: 2560px) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 50px;
    line-height: 31px;
    padding-top: 70px;
    padding-bottom: 20px;
  }
  /* Tablet Landscape */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 37px;
    line-height: 31px;
    padding-top: 50px;
  }
  /* Tablet Portrait */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 37px;
    line-height: 31px;
    padding-top: 50px;
  }
  /*mobile*/
  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 13px;
    padding-top: 30px;
  }
}


.form__question {
  color: $dark-navy;
  font-family: $family-primary;
  text-transform: uppercase;
  padding: 40px 0 0;

  @media screen and (min-device-width: 1200px) and (max-device-width: 2560px) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 21px;
    line-height: 26px;
  }

  /* Tablet Portrait */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 20px;
    line-height: 26px;
  }

  /* Tablet Landscape */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 20px;
    line-height: 26px;
  }

  /*mobile*/
  @media (max-width: 767px) {
    font-size: 17px;
    line-height: 26px;
  }
}

.text {
  &__first{
    padding-top: 120px;
  }
  
  &__second{
    padding-top: 40px;
  }
}

.form__question2 {
  color: $dark-navy;
  font-family: $family-secondary;
  font-style: italic;
  text-transform: none;

  @media screen and (min-device-width: 1200px) and (max-device-width: 2560px) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 20px;
  }

  /* Tablet Portrait */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 18px;
    line-height: 26px;
  }

  /* Tablet Landscape */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 10px;
  }

  /*mobile*/
  @media (max-width: 767px) {
    font-size: 15px;
    line-height: 17px;
    padding-top: 60px;
	padding-bottom: 20px;
  }
}

input[type="radio"] {
  display: none;
}

.button__label {
  cursor: pointer;
  color: $navy;
  font-family: $family-secondary;
  text-align: left;

  /*mobile*/
  @media (max-width: 767px) {
    margin-top: 0;
    font-size: 15px;
    line-height: 26px;
  }
}

.button__label:hover {
  color: $clear-blue;
}

input[type="radio"]:checked ~ label {
  color: $clear-blue;
}

textarea {
  box-shadow: 0 20px 20px 0 rgba(150, 150, 150, 0.24);
  border: solid 0.1px $light-navy;
  font-family: $family-sans-serif;
  font-size: 1em;
  padding: 20px;
  resize: none;
  width: 100%;border-radius: 3px;

  &:focus, &:focus-visible {
    border: solid 0.1px $light-navy;
  }
}

.napomena {
  color: $light-navy;
  font-family: Roboto;
  font-size: 18px;
  font-style: italic;
  line-height: 1.22;
  letter-spacing: 1.8px;
  text-align: left !important;
}

.pravila {
  color: $navy;
  font-family: $family-secondary;

  &__checkbox {
    margin: 5px 20px 0 0;
  }

  &__wrapper {
    padding-top: 100px;

    @media screen and (min-width: 1200px) and (max-width: 2560px) and (-webkit-min-device-pixel-ratio: 1) {
      padding-top: 100px;
    }
  
    /* Tablet Portrait */
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
      padding-top: 100px;
    }
  
    /* Tablet Landscape */
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      padding-top: 100px;
    }
  
    /*mobile*/
    @media (max-width: 767px) {
      padding-top: 70px;
    }
  }

  @media screen and (min-width: 1200px) and (max-width: 2560px) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 20px;
    line-height: 32px;
  }

  /* Tablet Portrait */
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    font-size: 18px;
    line-height: 28px;
  }

  /* Tablet Landscape */
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    font-size: 18px;
    line-height: 28px;
  }

  /*mobile*/
  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 24px;
    padding-right: 20px;
  }
}

input[type=checkbox] {
	height: 44px;
	width: 44px;
}

.link-pravila {
	color: $clear-blue;
	text-decoration: underline;
}

a:hover {
	color: $clear-blue;
}

#submit-form {
  margin: 75px auto 50px auto;
}

// Error messages
#error-msg, #response-msg {
  color: $light-navy;
  font-family: $family-secondary;
  font-weight: bold;
  padding-top: 40px;

  @media screen and (min-device-width: 1200px) and (max-device-width: 2560px) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 20px;
    line-height: 32px;
  }

  /* Tablet Portrait */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 14px;
    line-height: 18px;
  }

  /* Tablet Landscape */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 14px;
    line-height: 18px;
  }

  /*mobile*/
  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

// Loading spinner
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid $clear-blue;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}


//FOOTER
.footer {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 100px;

  @include for-phone-only {
    padding: 20px 0;
  }
}

.container-footer {
  h6,
  a {
    padding: 10px;
    font-family: $family-third;
    font-size: 18px;
  }

  @include for-tablet-portrait-up {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  @include for-tablet-landscape-up {
    font-size: 20px;
  }

  @include for-phone-only {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;

    .branding {
      display: flex;
      max-width: 70vw;
    }
  }
}
